@import "../../styles/Mixins.scss";
@import "../../styles/Variables.scss";

.notification {
    width: 100%;
    background: $secondLayerColor;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    color: white;
    box-sizing: border-box;
    transition: .5s;
    padding: 3%;
    cursor: pointer;
    p {
        margin: 0 5px 0 10px;
        padding: 0;
        font-size: calc(10px + (16 - 10) * (100vw - 768px) / (1920 - 768));
        @include fontStyles($textColor);
        span {
            font-size: calc(10px + (16 - 10) * (100vw - 768px) / (1920 - 768));
            font-weight: bold;
        }
    }
    div {
        display: flex;
        align-items: center;
    }
    &:hover {
        background: #363636;
        transition: .5s;
    }
}

.notification:hover .image{
    background: #505050;
    transition: 0.5s;
}

.image {
    min-width: 3.13vw;
    min-height: 3.13vw;
    width: 3.13vw;
    height: 3.13vw;
    min-width: 50px;
    min-height: 50px;
    transition: 0.5s;
    border-radius: 50%;
    background: $thirdLayerColor;
    @include roundedImageStyles();
}

.checkMark, .decline {
    transition: .1s;
    @include svgIconStyles(1.5625vw, 22px, $darkIconColor);
}

.checkMarkWrap:hover .checkMark, .declineWrap:hover .decline {
    fill: white;
    cursor: pointer;
    transition: .1s;
}

.declineWrap {
    transform: rotate(45deg);
    margin-left: 10px;
}

@media screen and (max-width: 7680px){
    .notification {
        margin-top: 0.52vw;
        border-radius: 0.26vw;
        p {
            margin: 0 0.26vw 0 0.52vw;
            font-size: calc(16px + (66 - 16) * ( (100vw - 1920px) / (7680 - 1920) ));
            span {
                font-size: calc(16px + (66 - 16) * ( (100vw - 1920px) / (7680 - 1920) ));
            }
        }
    }
    
    .declineWrap {
        margin-left: 0.52vw;
    }
}

@media screen and (max-width: 1920px){
    .notification {
        margin-top: 10px;
        border-radius: 5px;
        p {
            margin: 0 5px 0 10px;
            font-size: calc(10px + (16 - 10) * (100vw - 768px) / (1920 - 768));
            span {
                font-size: calc(10px + (16 - 10) * (100vw - 768px) / (1920 - 768));
            }
        }
    }
    
    .declineWrap {
        margin-left: 10px;
    }
}

@media screen and (max-width: 768px) {
    .notification {
        padding: calc(5px + (10 - 5) * (100vw - 200px) / (768 - 200));   
    }
    .image {
        min-width: calc(40px + (60 - 40) * (100vw - 200px) / (768 - 200));
        min-height: calc(40px + (60 - 40) * (100vw - 200px) / (768 - 200));
    }

    .notification p {
        font-size: 12px;
        span {
            font-size: 12px;
        }
    }
}