@import "../../styles/Mixins.scss";
@import "../../styles/Variables.scss";

.imageHolder {
    width: 75%;
    min-height: 400px;
    background: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.imageHolder.fullsized {
    width: 100%;
}

.imageOptions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    button {
        @include fontStyles($textColor);
        width: 10.42vw;
        min-width: 130px;
        border: none;
        padding: 10px 30px;
        background: linear-gradient(91.66deg, rgba(145, 180, 215, 0.4) 7.49%, rgba(145, 180, 215, 0.1) 103.24%);
        box-shadow: -3.5px -3.5px 12px rgba(255, 255, 255, 0.27), 3px 3px 18px rgba(85, 85, 85, 0.2);
        border-radius: 5px;
        font-size: calc(8px + (14 - 8) * (100vw - 200px) / (1920 - 200)); 
        margin-top: 10px; 
        margin-left: 10px; 
    }
}

.addImage {
    position: relative;
    width: 10.42vw;
    min-width: 130px;
    border: none;
    margin-left: 10px;
    padding: 10px 30px;
    background: linear-gradient(91.66deg, rgba(145, 180, 215, 0.4) 7.49%, rgba(145, 180, 215, 0.1) 103.24%);
    box-shadow: -3.5px -3.5px 12px rgba(255, 255, 255, 0.27), 3px 3px 18px rgba(85, 85, 85, 0.2);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    p {
        @include fontStyles($textColor);
        margin: 0;
        font-size: calc(8px + (14 - 8) * (100vw - 200px) / (1920 - 200));   
    }
    input {
        position: absolute;
        z-index: 1000;
        opacity: 0;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 768px) {
    .imageHolder {
        width: 100%;
    }
    .addImage {
        margin: 10px 0 0 0;
    }
    .imageOptions button{
        margin: 10px 0 0 0;
    }
}
