@import "../../styles/Mixins.scss";
@import "../../styles/Variables.scss";

.groupPageWrap {
    padding-top: calc(5px + (15 - 5) * ( (100vw - 200px) / ( 1920 - 200) ));
    z-index: 3;
    width: 92.5vw;
    height: 100vh;
    position: relative;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include scrollStyles(0.45em);
}

.groupWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.groupHeader {
    width: 55.7292vw;   
    height: 7.8125vw;
    min-height: 80px;
    background: $thirdLayerColor;
    border-radius: 5px 5px 0px 0px;
    @include imageStyles();
}

.groupBody {
    width: 55.7292vw; 
    padding: 0 3.6458vw 0 calc(17px + (96 - 17) * (100vw - 200px) / (1920 - 200));
    box-sizing: border-box;  
    background: $firstLayerColor;
    border-radius: 0px 0px 5px 5px;
    display: flex;
}

.groupImageHolder {
    width: 9.4271vw;
    height: 9.4271vw;
    min-width: 90px;
    min-height: 90px;
    position: absolute;
    left: 4.1667vw;
    top: 1.5625vw;
    border: calc(1.5px + (3 - 1.5) * (100vw - 200px) / (1920 - 200)) solid $lightIconColor;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 998;
    div {
        height: 8.8542vw;
        width: 8.8542vw;
        min-width: 82px;
        min-height: 82px;
        border-radius: 50%;
        background: $firstLayerColor;
        @include roundedImageStyles();
    }
}

.groupBodyLeftSide {
    margin-top: 3.8021vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.9688vw;
}

.groupName {
    @include fontStyles($textColor);
    font-size: calc(14px + (22 - 14) * (100vw - 768px) / (1920 - 768));
    margin: 0;
    text-align: center;
}
.groupName.skeleton {
    display: block;
    width: calc(120px + (180 - 120) * (100vw - 320px) / (1920 - 320));
    height: calc(25px + (40 - 25) * (100vw - 320px) / (1920 - 320));
    margin-left: calc(-35px + (-20 - -35) * (100vw - 768px) / (1920 - 768));

}

.groupUsersAmount {
    @include fontStyles($textColor);
    font-size: calc(10px + (16 - 10) * (100vw - 768px) / (1920 - 768));
    text-align: center;
    margin: 0.7292vw 0 0.9375vw 0;
    white-space: nowrap;
}

.groupUsersAmount.skeleton {
    display: block;
    width: calc(100px + (150 - 100) * (100vw - 320px) / (1920 - 320));
    height: calc(20px + (30 - 20) * (100vw - 320px) / (1920 - 320));
    margin-left: calc(-35px + (-20 - -35) * (100vw - 768px) / (1920 - 768));
}

.groupUsers {
    display: flex;
    justify-content: center;
    div {
        width: 2.0833vw;
        height: 2.0833vw;
        border-radius: 50%;
        background: $thirdLayerColor;
        margin-left: -0.4167vw;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: calc(8px + (14 - 8) * (100vw - 768px) / (1920 - 768));
        p {
            @include fontStyles($textColor);
            margin: 0;
        }
    }
    &:first-child {
        margin-left: 0;
    }
}

.groupBodyRightSide {
    width: 36.4583vw;
    display: flex;
    flex-direction: column;
    margin-left: calc(10px + (46 - 10) * (100vw - 768px) / (1920 - 768));
    margin-top: 0.7813vw;
    box-sizing: border-box;
}

.groupButtons {
    align-self: flex-end;
    display: flex;
    align-items: center;
    div {
        &:last-child {
            margin-left: 1.0417vw;
        }
    }
}

.subscribeButton {
    min-width: 6.8125vw;
    background: $secondLayerColor;
    box-shadow: 0px 4px 4px rgba(13, 13, 13, 0.2);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
    align-items: center;
    padding: 0.125vw 0.5208vw;
    p {
        margin: 0;
        padding: 0;
        @include fontStyles($textColor);
        font-size: calc(10px + (14 - 10) * (100vw - 768px) / (1920 - 768));
    }
    div {
        margin-top: 5px;
    }
    &:hover {
        background: $thirdLayerColor;
        transition: 0.5s;
    }
}

.subscribeButton:hover .subscribeButtonHeart {
    fill: white;
    transition: 0.1s;
}

.subscribeButtonHeart {
    transition: 0.1s;
    @include svgIconStyles(1.3021vw, 18px, $darkIconColor);
}

.optionsButtonWrap:hover .optionsButton {
    stroke: white;
    transition: 0.1s;
}

.optionsButton {
    @include svgIconStylesStroke(1.3021vw, 18px, $darkIconColor);
    transition: 0.1s;
}

.groupMobileViewButtons {
    display: none;
}

.subscribeMobileViewButtonHeart, .moreMobileViewButtonHeart {
    width: 20px;
    height: 20px;
    transition: 0.1s;
    fill: $lightIconColor;
}

.subscribeMobileViewButtonHeartWrap:hover .subscribeMobileViewButtonHeart {
    fill: white;
    transition: 0.1s;
}

.moreMobileViewButtonHeart {
    margin-left: 10px;
}

.groupDescription {
    width: 36.458vw;
    border-radius: 4px;
    margin-top: 1.0417vw;
    p {
        @include fontStyles($textColor);
        margin: 0.7813vw;
        font-size: calc(8px + (14 - 8) * (100vw - 768px) / (1920 - 768));
    }
}

.description.skeleton {
    display: block;
    width: calc(150px + (480 - 150) * (100vw - 320px) / (1920 - 320));
    height: calc(30px + (60 - 30) * (100vw - 320px) / (1920 - 320));
}

.moreButton {
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: rotate(90deg);
}

.groupPosts {
    display: flex;
    flex-direction: column;
}

.moreButtonAngle {
    @include svgIconStyles(2.0833vw, 20px, $darkIconColor);
}

.lastElement {
    width: 50px;
    min-height: 50px;
    visibility: hidden;
}

@media screen and (max-width: 1023px) {
    // .groupBodyLeftSide {
    //     margin-left: calc(15px + (10 - 15) * (100vw - 200px) / (1024 - 200));
    // }
}

@media screen and (max-width: 768px) {
    .groupUsersAmount.skeleton, .groupName.skeleton {
        margin-left: 0;
    } 
    .groupPageWrap {
        width: 100vw;
        margin-top: 0;
        height: calc(100vh - calc(54px + (56 - 54) * (100vw - 300px) / (768 - 300)));
        &::-webkit-scrollbar {
            width: 1px;
            height: 1px;
        }
    }
    .groupWrap {
        width: 100%;
    }
    .groupHeader {
        width: 100%;
    }
    .groupBody {
        width: 97vw;
    } 
    .groupImageHolder {
        top: 38px;
    }
    .groupUsers {
        display: none;
    }
    .groupUsersAmount {
        font-size: 10px;
    }
    .groupName {
        font-size: 14px;
        text-align: left;
    }
    .groupBody {
        flex-direction: column;
        padding: 0 3.6458vw 0 4.1167vw;
    }
    .groupButtons {
        position: absolute;
        top: 82px;
        right: 2%;
    }
    .groupMobileViewButtons {
        display: flex;
    }
    .subscribeButton, .shareButton {
        display: none;
    }
    .groupBodyLeftSide {
        align-items: flex-start;
        margin-left: 100px;
        width: 200px;
        margin-top: 20px;
    }
    .groupBodyRightSide {
        width: 100%;    
        margin-top: 0;
        margin-bottom: 30px;
    }
    .groupDescription {
        background: none;
        margin-top: 0;
        width: 90%;
        p {
            margin-top: 0;
            font-size: calc(8px + (10 - 8) * (100vw - 200px) / (768 - 200));
        }
    }
}

@media screen and (max-width: 425px) {
    .groupBodyLeftSide {
        margin-bottom: 2vw;
    }
}