@import "../../styles/Mixins.scss";
@import "../../styles/Variables.scss";

.menuWrap {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9998;
    width: 100vw;
    height: calc(100vh - calc(53.69px + (56.28 - 53.69) * (100vw - 320px) / (768 - 320)));
    background: $firstLayerColor;
    overflow-y: scroll;
    @include scrollStyles(0.001em);
    padding-bottom: 90px;
    a {
        margin-left: calc(20px + (30 - 20) * (100vw - 200px) / (768 - 200));
        margin-top: calc(10px + (15 - 10) * (100vw - 200px) / (768 - 200));
        display: block;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-decoration: none;
        p {
            margin: 0 0 0 10px;
            @include fontStyles($textColor);
            font-size: calc(12px + (16 - 12) * (100vw - 200px) / (768 - 200));
        }
    }
}

.menuHeader {
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-top: 50px;
    div {
        width: 32vw;
        height: 32vw;
        min-width: 100px;
        min-height: 100px;
        border-radius: 50%;
        padding: 5px;
        @include roundedImageStyles();
        border: 2px solid $darkIconColor;
    }
    p {
        @include fontStyles($textColor);
        font-size: calc(18px + (20 - 18) * (100vw - 200px) / (768 - 200));
    }
}

.menuWrap.on {
    display: block;
}

.group, .about, .home {
    @include svgIconStyles(1.3vw, 25px, $darkIconColor);
}

.settings, .account, .logo {
    @include svgIconStylesStroke(1.3vw, 25px, $darkIconColor);
}

.exit {
    width: 1.3vw;
    height: 1.3vw;
    min-height: 25px;
    min-width: 25px;
}
