@import "../../styles/Mixins.scss";
@import "../../styles/Variables.scss";

.commentWrap {
    width: 62.6168%;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: calc(7px + (20 - 7) * (100vw - 200px) / (1920 - 200));
}

.imageHolder {
    width: 2.3438vw;
    height: 2.3438vw;
    border-radius: 50%;
    background: gray;
    margin-right: calc(4px + (7 - 4) * (100vw - 200px) / (1920 - 200));
}

.commentInfo {
    display: flex;
    flex-direction: column;
}

.commenterName {
    @include fontStyles($textColor);
    font-size: calc(10px + (14 - 10) * (100vw - 200px) / (1920 - 200));
    margin: 2px 0 0 0;
}

.comment {
    @include fontStyles($textColor);
    font-size: calc(8px + (12 - 8) * (100vw - 200px) / (1920 - 200));
    margin: 4px 0 4px 0;
}

.commentDate {
    @include fontStyles($textColor);
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: calc(8px + (12 - 8) * (100vw - 200px) / (1920 - 200));
    margin: 0;
}

.likesAmount {
    display: flex;
    align-self: flex-end;
    align-items: center;
    margin-left: auto;
    p {
        @include fontStyles($textColor);
        font-size: calc(8px + (10 - 8) * (100vw - 200px) / (1920 - 200));
        margin: 0;
    }
    div {
        margin-right: 3px;
    }
}

.commentLike {
    @include svgIconStyles(0.9375vw, 14px, $darkIconColor);
    cursor: pointer;
}

.commentLike.liked {
    fill: red;
}