@import "../../styles/Mixins.scss";
@import "../../styles/Variables.scss";

.commentWrap {
    width: 81.308%;
    display: flex;
    align-items: center;
    position: relative;
}

.commentWrap:hover .reportIcon, .bestCommentWrap:hover .reportIcon{
    fill: $darkIconColor;
    transition: 0.5s;
}

.bestCommentWrap {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.imageHolder {
    width: 2.3438vw;
    height: 2.3438vw;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    background: gray;
    @include roundedImageStyles();
}

.commentInfo {
    display: flex;
    flex-direction: column;
}

.commenterName {
    @include fontStyles($textColor);
}

.comment {
    @include fontStyles($textColor);
}

.commentDate {
    @include fontStyles($textColor);
    position: absolute;
    margin: 0;
    display: flex;
    align-items: center;
}

.likesAmount {
    display: flex;
    align-self: flex-end;
    align-items: center;
    margin-left: auto;
    p {
        @include fontStyles($textColor);
        margin: 0;
    }
}

.commentLike {
    @include svgIconStyles(0.9375vw, 14px, $darkIconColor);
    transition: 0.1s;
    cursor: pointer;
}

.commentLike.liked {
    fill: red;
}

.commentLikeWrap:hover .commentLike {
    fill: red;
    transition: 0.1s;
}

.reportIconWrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reportIcon {
    @include svgIconStyles(0.9375vw, 14px, $darkIconColor);
    fill: none;
    cursor: pointer;
    transition: 0.5s;
}

.reportIcon:hover {
    fill: white;
    transition: 0.5s;
}

@media screen and (max-width: 7680px){
    .commentWrap {
        margin-top: 1.04vw;
    }
    
    .bestCommentWrap {
        padding: 0 0.16vw;
    }
    
    .imageHolder {
        margin-right: 0.36vw;
    }
    
    .commenterName {
        font-size: calc(14px + (64 - 14) * ( (100vw - 1920px) / (7680 - 1920) ));
        margin: 0.1vw 0 0 0;
    }
    
    .comment {
        font-size: calc(12px + (62 - 12) * ( (100vw - 1920px) / (7680 - 1920) ));
        margin: 0.21vw 0 0.21vw 0;
    }
    
    .commentDate {
        right: 0.26vw;
        top: 0.26vw;
        font-size: calc(12px + (62 - 12) * ( (100vw - 1920px) / (7680 - 1920) ));
    }
    
    .likesAmount {
        p {
            font-size: calc(10px + (60 - 10) * ( (100vw - 1920px) / (7680 - 1920) ));
        }
        div {
            margin-right: 0.16vw;
        }
    }
    
    .reportIcon {
        margin-right: 0.26vw;
    }
}

@media screen and (max-width: 1920px){
    .commentWrap {
        margin-top: calc(7px + (20 - 7) * (100vw - 200px) / (1920 - 200));
    }
    
    .bestCommentWrap {
        padding: 0 3px;
    }
    
    .imageHolder {
        margin-right: calc(4px + (7 - 4) * (100vw - 200px) / (1920 - 200));
    }
    
    .commenterName {
        font-size: calc(10px + (14 - 10) * (100vw - 200px) / (1920 - 200));
        margin: 2px 0 0 0;
    }
    
    .comment {
        font-size: calc(8px + (12 - 8) * (100vw - 200px) / (1920 - 200));
        margin: 4px 0 4px 0;
    }
    
    .commentDate {
        right: calc(1px + (5 - 1) * (100vw - 200px) / (1920 - 200));
        top: calc(1px + (5 - 1) * (100vw - 200px) / (1920 - 200));
        font-size: calc(8px + (12 - 8) * (100vw - 200px) / (1920 - 200));
    }
    
    .likesAmount {
        p {
            font-size: calc(8px + (10 - 8) * (100vw - 200px) / (1920 - 200));
        }
        div {
            margin-right: 3px;
        }
    }
    
    .reportIcon {
        margin-right: 5px;
    }
}

@media screen and(max-width: 768px) {
    .commentWrap {
        width: 96%;
    }
}