@import "../../styles/Mixins.scss";
@import "../../styles/Variables.scss";
  
.userDontHaveAccount {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
  
.userDontHaveAccount{
    margin-bottom: 30px;
    a {
        margin-left: 0.5vw;
    }
    a, span {
        font-size: calc(10px + (14 - 10) * (100vw - 200px) / (1920 - 200));
        @include fontStyles($textColor);
        transition: .5s;
    }
}

.registrateButton {
    margin-top: calc(25px + (35 - 25) * ( (100vw - 200px) / ( 1920 - 200) ));
    margin-bottom: calc(15px + (30 - 15) * ( (100vw - 200px) / ( 1920 - 200) ));
}

.label {
    margin-top: calc(20px + (40 - 20) * ( (100vw - 200px) / ( 1920 - 200) ));
    margin-bottom: calc(15px + (20 - 15) * ( (100vw - 200px) / ( 1920 - 200) ));
}

.error {
    @include fontStyles(red);
    font-size: calc(6px + (12 - 6) * (100vw - 200px) / (1920 - 200));
    margin: 0 0 3px 3px;
}

.info {
    font-size: calc(8px + (16 - 8) * ( (100vw - 200px) / ( 1920 - 200) ));
    @include fontStyles($textColor);
}

.inputBox {
    margin-top: calc(10px + (15 - 10) * (100vw - 200px) / (1920 - 200));
    display: flex;
    flex-direction: column;
}

.inputBox.errored {
    margin-top: 4px;
}



.userDontHaveAccount a:hover {
    color: white;
    transition: .5s;
}