@import "../../styles/Mixins.scss";
@import "../../styles/Variables.scss";
@import "../EditAccount/EditAccount.module.scss";

.themes {
    width: 100%;
}

.selects {
    select {
        text-align-last:left;
        padding: calc(8px + (10 - 8) * (100vw - 1024px) / (1920 - 1024)) calc(7px + (10 - 7) * (100vw - 1024px) / (1920 - 1024));
        background: $firstLayerColor;
        border-radius: 10px;
        border: none;
        color: $inputTextColor;
    }
}

.editData button {
    width: 100%;
    margin: 15px 0 0 0;
}

.generalOptionsWrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.generalOptions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        font-size: calc(8px + (12 - 8) * (100vw - 320px) / (1920 - 320));
        @include fontStyles($textColor);
        margin-top: 15px;
    }
    button {
        background: rgba($color: red, $alpha: 0.4);
        margin-left: 0;
        margin: 10px;
        &:hover {
            background: rgba($color: red, $alpha: 0.6);
        }
    }
}

.modalWrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($color: #000000, $alpha: 0.4);
    z-index: 999;
}

.modal {
    position: relative;
    padding: 15px;
    background: $firstLayerColor;
    width: 25vw;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    p {
        @include fontStyles($textColor);
        font-size: calc(10px + (16 - 10) * (100vw - 320px) / (1920 - 320));
        text-align: center;
    }
    div {
        margin-top: 10px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        button:nth-child(1) {
            background: rgba($color: red, $alpha: 0.4);
            &:hover {
                background: rgba($color: red, $alpha: 0.6);
            }
        }
    }
}