$textColor: #E3E3E3;

$lightIconColor: #E3E3E3;
$darkIconColor: #E3E3E3;

$backgroundColor: #121212;
$firstLayerColor: #1E1E1E;
$secondLayerColor: #2A2A2A;
$thirdLayerColor: #3C3C3C;

$activeButtonColor: #131313;

$inputColor: #131313;
$inputTextColor: #909090;
