@import "../../styles/Mixins.scss";
@import "../../styles/Variables.scss";

.loginMainWrap {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrap {
    background: $firstLayerColor;
    box-shadow: 0px 4px 4px rgba(13, 13, 13, 0.4);
    width: 62.5vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}

.extendedLogo {
    width: 20.833vw;
    height: 20.833vw;
}

.mobileLogo {
    display: none;
    width: 3.125vw;
    height: 3.125vw;
    min-width: 60px;
    min-height: 60px;
}
  
.loginImageHolder {
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
        @include fontStyles($textColor);
        font-family: 'AdventPro';
    }
}
  
.loginHolder {
    width: 25.521vw;
    min-width: 300px;
    background: $secondLayerColor;
    box-shadow: 0px 4px 4px rgba(13, 13, 13, 0.4);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    input {
        width: 19.271vw;
        min-width: 240px;
        min-height: 30px;
        box-sizing: border-box;
        background: $firstLayerColor;
        border: none;
        color: $textColor;
        &::placeholder {
            @include fontStyles($inputTextColor);
            padding-left: 0.3vw;
            transition: .5s;
        }
        &:focus {
            outline: 1px solid $inputTextColor;
        }
        &:hover::placeholder {
            color: $textColor;
            transition: .5s;
        }
        &:focus::placeholder {
            color: $inputTextColor;
        }
    }
    button{
        width: 11.979vw;
        min-width: 180px;
        box-shadow: 4px 4px 4px rgba(13, 13, 13, 0.15);
        border: none;
        background: $thirdLayerColor;
        @include fontStyles($textColor);
        transition: .5s;
        cursor: pointer;
        &:hover {
            background: #505050;
            transition: .5s;
        }
    }  
    p {
        @include fontStyles($textColor);
    }
}
  
.userDontHaveAccount {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
  
.userDontHaveAccount{
    margin-top: 2.963vw;
    margin-bottom: 2.963vw;
    a {
        margin-left: 0.5vw;
    }
    a, span {
        transition: .5s;
        @include fontStyles($textColor);
    }
}

.error {
    @include fontStyles(red);
}

.input.error {
    background: rgba(207, 58, 58, 0.4);
}

@media screen and (max-width: 7680px){
    .loginWrap {
        border-radius: 0.52vw;
        padding: 4.43vw 5.47vw 5.99vw 5.47vw;
    }
      
    .loginImageHolder p {
        font-size: calc(80px + (294 - 80) * ( (100vw - 1920px) / (7680 - 1920) ));
        margin: 0.78vw 0 0 0;
    }
      
    .loginHolder {
        border-radius: 0.52vw;
        margin-left: 5.21vw;
        input {
            padding: 0.57vw;
            border-radius: 0.52vw; 
            font-size: calc(14px + (64 - 14) * ( (100vw - 1920px) / (7680 - 1920) ));
            &::placeholder {
                font-size: calc(14px + (64 - 14) * ( (100vw - 1920px) / (7680 - 1920) ));
            }
        }
        button {
            padding: 0.83vw;
            border-radius: 0.26vw;
            font-size: calc(14px + (64 - 14) * ( (100vw - 1920px) / (7680 - 1920) ));
        }  
        p {
            font-size: calc(24px + (76 - 24) * ( (100vw - 1920px) / (7680 - 1920) ));
        }
    }
      
    .userDontHaveAccount {
        a, span {
            font-size: calc(14px + (64 - 14) * ( (100vw - 1920px) / (7680 - 1920) ));
        }
    }
    .error {
        font-size: calc(12px + (62 - 12) * ( (100vw - 1920px) / (7680 - 1920) ));
        margin: 0 0 0.16vw 0.16vw;
    }
}

@media screen and (max-width: 1920px){
    .loginWrap {
        border-radius: 10px;
        padding: 
            calc(0px + (85 - 0) * (100vw - 768px) / (1920 - 768))
            calc(0px + (105 - 0) * (100vw - 768px) / (1920 - 768))
            calc(0px + (115 - 0) * (100vw - 768px) / (1920 - 768))
            calc(0px + (105 - 0) * (100vw - 768px) / (1920 - 768));
    }
      
    .loginImageHolder p {
        font-size: calc(30px + (80 - 30) * (100vw - 200px) / (1920 - 200));
        margin: 15px 0 0 0;
    }
      
    .loginHolder {
        border-radius: 10px;
        margin-left: calc(10px + (100 - 10) * (100vw - 768px) / (1920 - 768));
        input {
            padding: calc(6px + (11 - 6) * (100vw - 200px) / (1920 - 200));
            border-radius: 10px; 
            font-size: calc(10px + (14 - 10) * (100vw - 200px) / (1920 - 200));
            &::placeholder {
                font-size: calc(10px + (14 - 10) * (100vw - 200px) / (1920 - 200));
            }
        }
        button {
            padding: calc(7px + (16 - 7) * (100vw - 200px) / (1920 - 200));
            border-radius: 5px;
            font-size: calc(10px + (14 - 10) * (100vw - 200px) / (1920 - 200));
        }  
        p {
            font-size: calc(14px + (24 - 14) * (100vw - 200px) / (1920 - 200));
        }
    }
      
    .userDontHaveAccount {
        a, span {
            font-size: calc(10px + (14 - 10) * (100vw - 200px) / (1920 - 200));
        }
    }
    .error {
        font-size: calc(6px + (12 - 6) * (100vw - 200px) / (1920 - 200));
        margin: 0 0 3px 3px;
    }
}

@media screen and (max-width: 1023px) {
    .loginWrap {
        width: 40vw;
    }
    .loginImageHolder {
        display: none;
    }
    .loginWrap {
        justify-content: center;
        padding: 0;
    }
    .loginHolder {
        background: $firstLayerColor;
        margin-left: 0;
        width: 100%;
        input {
            width: 70%;
            background: $inputColor;
        }
    }
    .mobileLogo {
        margin-top: calc(20px + (35 - 20) * ( (100vw - 200px) / (1024 - 200) ));
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .loginHolder {
        width: 70%;
        margin-left: 0;
        input {
            margin-bottom: 0;
        }
    }
}
