@import "../../styles/Mixins.scss";
@import "../../styles/Variables.scss";

.navbar {
    height: 100vh;
    position: fixed;
    width: 3.7vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(179.76deg, rgba(255, 255, 255, 0.4) -26.89%, rgba(255, 255, 255, 0.1) 189.85%);
    border-radius: 3px;
    z-index: 9999;
    a {
        text-decoration: none;  
    }
    button {
        background: transparent;
        border: none;
    }
}

.leftNavbar {
    left: 0;
    top: 0;
}
.rightNavbar {
    right: 0;
    top: 0;
}

.chat, .news, .account, .friends, .group, .notifications, .burgerMenu {
    @include svgIconStyles(2.6042vw, 25px, $darkIconColor);
}

.notifications.active {
    fill: rgb(184, 27, 27);
}

.mobileViewNavBar {
    display: none;
    position: absolute;
    position: fixed;
    z-index: 9999;
    width: 100%;
    background: linear-gradient(91.38deg, rgba(255, 255, 255, 0.4) -3.6%, rgba(255, 255, 255, 0.1) 114.8%);
    align-items: center;
    justify-content: space-evenly;
    padding: calc(12px + (17 - 12) * (100vw - 200px) / (1920 - 200));
    bottom: 0;
    left: 0;
}

@media screen and (max-width: 768px){
    .navbar {
        display: none;
    }
    .mobileViewNavBar {
        display: flex;
    }
}