@import "../../styles/Mixins.scss";
@import "../../styles/Variables.scss";
  
.userDontHaveAccount {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
  
.userDontHaveAccount{
    margin-top: 2.963vw;
    margin-bottom: 2.963vw;
    a {
        margin-left: 0.5vw;
    }
    a, span {
        font-size: calc(10px + (14 - 10) * (100vw - 200px) / (1920 - 200));
        @include fontStyles($textColor);
    }
}

.info {
    font-size: calc(8px + (16 - 8) * ( (100vw - 200px) / ( 1920 - 200) ));
    @include fontStyles($textColor);
}

@media screen and (max-width: 768px) {
    .userDontHaveAccount{
        margin-top: 50px;
        margin-bottom: 30px;
    }
}
