@import "../../../styles/Mixins.scss";
@import "../../../styles/Variables.scss";

.button {
    width: 9.375vw;
    min-width: 120px;
    padding: calc(6px + (10 - 6) * ( (100vw - 200px) / ( 1920 - 200) )) 0.5208vw;
    box-shadow: 0px 4px 4px rgba(13, 13, 13, 0.2);
    background: rgb(53, 53, 53);
    font-size: calc(10px + (14 - 10) * ( (100vw - 200px) / ( 1920 - 200) ));
    border: none;
    margin-left: 1.0417vw;
    background: $secondLayerColor;
    border-radius: 5px;
    color: $textColor;
    transition: 0.5s;
    cursor: pointer;
    &.active {
        background: $activeButtonColor;
        transition: 0.5s;
    }
    &:first-child {
        margin-left: 0;
    }
    &.active:hover {
        background: $activeButtonColor;
    }
    &:hover {
        background: $thirdLayerColor;
        transition: 0.5s;
    }
}

@media screen and (max-width: 7680px){
    .button {
        padding: 0.52vw 0.5208vw;
        font-size: calc(14px + (64 - 14) * ( (100vw - 1920px) / (7680 - 1920) ));
        border-radius: 0.26vw;
    }
}

@media screen and (max-width: 1920px){
    .button {
        padding: calc(6px + (10 - 6) * ( (100vw - 200px) / ( 1920 - 200) )) 0.5208vw;
        font-size: calc(10px + (14 - 10) * ( (100vw - 200px) / ( 1920 - 200) ));
        border-radius: 0.26vw;
    }
}

@media screen and (max-width: 1440px){
    .button {
        border-radius: 5px;
    }
}