@import "../../styles/Mixins.scss";
@import "../../styles/Variables.scss";

.groupHolder {
    width: 55.7292vw;
    background: linear-gradient(91.3deg, rgba(255, 255, 255, 0.4) -4.25%, rgba(255, 255, 255, 0.1) 101.96%);
    border-radius: 3px;
    display: flex;
    min-height: 61px;
    box-sizing: border-box;
    margin-top: 1.8519vh;
    padding: 0.7813vw 0;
    position: relative;
    align-items: center;
    cursor: pointer;
}

.groupPhoto {
    width: 6.25vw;
    height: 6.25vw;
    min-width: 45px;
    min-height: 45px;
    background: black;
    border-radius: 50%;
    margin-left: 1.3021vw;
    @include roundedImageStyles();
}

.groupInfo {
    width: 39.0625vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 0.5vw;
}

.groupName {
    @include fontStyles($textColor);
    font-size: calc(12px + (18 - 12) * (100vw - 200px) / (1920 - 200));   
    margin: 0 0 0 calc(6px + (13 - 6) * (100vw - 200px) / (1920 - 200));
}

.groupDescription {
    @include fontStyles($textColor);
    font-size: calc(8px + (14 - 8) * (100vw - 200px) / (1920 - 200));   
    margin: 0 0 0 1.25vw;

}
.groupType {
    background: linear-gradient(92.5deg, rgba(255, 255, 255, 0.26) -7.81%, rgba(255, 255, 255, 0.065) 119.16%);
    border-radius: 5px;
    width: 15vw;
    min-width: 80px;
    padding: calc(4px + (7 - 4) * (100vw - 200px) / (1920 - 200)) 0;
    font-size: calc(8px + (10 - 8) * (100vw - 200px) / (1920 - 200));   
    color: #1F4868;
    display: none;
    align-items: center;
    justify-content: center;
    margin-left: 13px;
}

.groupUsersHolder {
    margin-top: 25px;
    align-self: flex-end;
    margin-left: auto;
    margin-bottom: 0.3646vw;
    margin-right: 1.1458vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        white-space: nowrap;
        margin: 0;
        padding: 0;
        font-size: calc(10px + (14 - 10) * (100vw - 200px) / (1920 - 200));
    }
}

.groupUsers {   
    display: flex;
    justify-content: center;
    border-radius: 50%;
    div {
        margin-left: 0.2604vw;
        height: 1.5625vw;
        width: 1.5625vw;
        min-width: 15px;
        min-height: 15px;
        border-radius: 50%;
        background: gray;
    }
    &:first-child {
        margin-left: 0;
    }
    p {
        @include fontStyles($textColor);
        font-size: 12px;
    }
}

.addButton {
    width: 10.4167vw;
    min-width: 80px;
    background: linear-gradient(94.12deg, rgba(255, 255, 255, 0.4) 7.77%, rgba(255, 255, 255, 0.1) 124.32%);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: calc(4px + (10 - 4) * (100vw - 200px) / (1920 - 200));
    top: calc(4px + (10 - 4) * (100vw - 200px) / (1920 - 200));
    padding: calc(1px + (6 - 1) * (100vw - 200px) / (1920 - 200)) 
             calc(4px + (10 - 4) * (100vw - 200px) / (1920 - 200))
             calc(1px + (6 - 1) * (100vw - 200px) / (1920 - 200)) 
             calc(6px + (12 - 6) * (100vw - 200px) / (1920 - 200));
    p {
        @include fontStyles($textColor);
        margin: 0;
        padding: 0;
        font-size: calc(8px + (14 - 8) * (100vw - 200px) / (1920 - 200));
    }
    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.addButtonBrokenHeart, .addButtonHeart {
    @include svgIconStyles(1.3021vw, 13px, $darkIconColor);
}

@media screen and (max-width: 768px) {
    .groupHolder {
        width: 97vw;
    }
    .groupType {
        display: flex;
    }
    .groupDescription {
        display: none;
    }
    .groupUsers div {   
        display: none;
    }
}