.modalWrap {
    position: relative;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 999;
}

.modalRow {
    width: 62.5vw;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: rgb(196, 215, 235);
    border-radius: 5px;
}

.modalColumn {
    width: 50vw;
    min-width: 280px;
    padding: calc(10px + (20 - 10) * (100vw - 200px) / (1920 - 200));
    display: flex;
    flex-direction: column;
    background: green;
    background: rgb(196, 215, 235);
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .modalRow {
        flex-direction: column;
    }
}