@import "../../styles/Mixins.scss";
@import "../../styles/Variables.scss";

.modalWrap {
    position: relative;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 999;
    background: rgba($color: #000000, $alpha: 0.5);
    position: fixed;
}

.modal {
    width: calc(840px + (1070 - 840) * (100vw - 1439px) / (1920 - 1439));
    background: $firstLayerColor;
    box-shadow: 4px 4px 4px rgba(13, 13, 13, 0.4);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

@media screen and (max-width: 1439px) {
    .modal {
        width: calc(680px + (840 - 680) * (100vw - 768px) / (1439 - 768));
    }
}

@media screen and (max-width: 768px) {
    .modalRow {
        flex-direction: column;
    }
    .modal {
        width: 100vw;
        height: 100%;
        border-radius: 0px;
    }
    .modalWrap {
        height: calc(100% - (53.69px + (56.28 - 53.69) * (100vw - 320px) / (768 - 320)));
    }
}