@import "../../styles/Mixins.scss";
@import "../../styles/Variables.scss";

.label {
    @include fontStyles($textColor);
    font-size: calc(12px + (18 - 12) * ( (100vw - 200px) / ( 1920 - 200) ));
    text-align: center;
    margin-top: calc(15px + (40 - 15) * ( (100vw - 200px) / ( 1920 - 200) ));
}

.button, .deleteButton {
    margin-top: calc(10px + (20 - 10) * ( (100vw - 200px) / ( 1920 - 200) ));
    align-self: flex-end;
    width: 15.42vw;
    min-width: 120px;
    padding: calc(6px + (10 - 6) * ( (100vw - 200px) / ( 1920 - 200) )) 0.5208vw;;
    font-size: calc(8px + (14 - 8) * ( (100vw - 200px) / ( 1920 - 200) ));
    border: none;
    margin-left: 1.0417vw;
    background: $secondLayerColor;
    border-radius: 5px;
    transition: 0.5s;
    color: $textColor;
    margin-bottom: calc(15px + (40 - 15) * ( (100vw - 200px) / ( 1920 - 200) ));
    &:hover {
        background: $thirdLayerColor;
        transition: 0.5s;
    }
} 
.deleteButton {
    background: rgba(207, 58, 58, 0.4);
    &:hover {
        background: rgba(207, 58, 58, 0.7);
        transition: 0.5s;
    }
}