@import "../../styles/Mixins.scss";
@import "../../styles/Variables.scss";

.lastMessage {
    display: flex;
    margin-left: 0.5729vw;
    margin-top: calc(0px + (13 - 0) * ( (100vw - 0px) / ( 1920 - 0) ));
    align-items: center;
    div {
        @include roundedImageStyles();
        width: 2.0833vw;
        height: 2.0833vw;
        min-width: 20px;
        min-height: 20px;
        background: black;
        border-radius: 50%;
        color: white;
    }
    p {
        @include fontStyles($textColor);
        margin: 0;
        padding: 0;
        font-size: calc(10px + (16 - 10) * ( (100vw - 0px) / ( 1920 - 0) ));
        line-height: 22px;
        margin-left: 11px;
        width: 40vw;
    }
}

@media screen and (max-width: 7680px){
    .lastMessage {
        margin-top: 1vw;
        p {
            font-size: calc(16px + (60 - 16) * ( (100vw - 1920px) / (7680 - 1920) ));
            margin-left: 0.5vw;
        }
    }  
}

@media screen and (max-width: 1920px){
    .lastMessage {
        margin-top: calc(0px + (13 - 0) * ( (100vw - 0px) / ( 1920 - 0) ));
        p {
            font-size: calc(10px + (16 - 10) * ( (100vw - 0px) / ( 1920 - 0) ));
        }
    }
}

@media screen and (max-width: 768px) {
    .lastMessage {
        p {
            width: 80vw;
        }
    }
}