@import "../../styles/Mixins.scss";
@import "../../styles/Variables.scss";

.addComment {
    width: 81.308%;
    display: flex;
    align-items: center;
}

.addCommentUserImage {
    width: 2.7319vw;
    height: 2.3438vw;
    min-width: 35px;
    min-height: 35px;
    border-radius: 50%;
    background: $thirdLayerColor;
    @include roundedImageStyles();
}

.addCommentHolder {
    position: relative;
    width: 100%;
    input {
        border: none;
        width: 100%;
        background: $inputColor;
        border: 1px solid #2A2A2A;
        color: $textColor;
        box-sizing: border-box;
        &::placeholder {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            color: $inputTextColor;
        }
    }
    div {
        position: absolute;
        top: 33%;
        display: flex;
    }
}

.addCommentClip, .addCommentSmile {
    @include svgIconStyles(1.0417vw, 14px, $darkIconColor);
}

.sendCommentIcon {
    @include svgIconStyles(1.5625vw, 22px, $darkIconColor);
}

@media screen and (max-width: 7680px){
    .addComment {
        margin: 1.56vw 0 0.78vw;
    }
    
    .addCommentHolder {
        margin-left: 0.52vw;
        input {
            font-size: calc(12px + (62 - 12) * ( (100vw - 1920px) / (7680 - 1920) ));
            border-radius: 0.52vw;
            padding: 0.52vw 0.73vw 0.52vw 0.73vw;
            &::placeholder {
                font-size: calc(12px + (62 - 12) * ( (100vw - 1920px) / (7680 - 1920) ));
            }
        }
        div {
            right: 0.52vw;
        }
    }
    
    .addCommentSmile {
        margin-left: 0.52vw;    
    }
    
    .sendComment {
        margin-left: 0.52vw;
    } 
}

@media screen and (max-width: 1920px){
    .addComment {
        margin: calc(10px + (30 - 10) * (100vw - 200px) / (1920 - 200)) 
                0 
                calc(5px + (15 - 5) * (100vw - 200px) / (1920 - 200));
    }
    
    .addCommentHolder {
        margin-left: calc(5px + (10 - 5) * (100vw - 200px) / (1920 - 200));
        input {
            border-radius: 10px;
            font-size: calc(8px + (12 - 8) * (100vw - 200px) / (1920 - 200));
            padding: 
                calc(8px + (10 - 8) * (100vw - 200px) / (1920 - 200))
                calc(7px + (14 - 7) * (100vw - 200px) / (1920 - 200))
                calc(8px + (10 - 8) * (100vw - 200px) / (1920 - 200))
                calc(7px + (14 - 7) * (100vw - 200px) / (1920 - 200));
            &::placeholder {
                font-size: calc(8px + (12 - 8) * (100vw - 200px) / (1920 - 200));
            }
        }
        div {
            right: 10px;
        }
    }
    
    .addCommentSmile {
        margin-left: calc(4px + (10 - 4) * (100vw - 200px) / (1920 - 200));    
    }
    
    .sendComment {
        margin-left: calc(5px + (10 - 5) * (100vw - 200px) / (1920 - 200));
    }
}

@media screen and (max-width: 768px) {
    .addComment {
        width: 96%;
    }
}