@import "../../styles/Mixins.scss";
@import "../../styles/Variables.scss";

.passwordBox {
    width: 19.271vw;
    min-width: 240px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewIconWrap {
    display: flex;
    justify-content: center;
    align-items: center;    
    cursor: pointer;
}

.viewIconWrap:hover .viewIcon {
    fill: white;
    transition: 0.1s;
}

.viewIcon {
    transition: 0.1s;
    position: absolute;
    @include svgIconStyles(1.3vw, 18px, $darkIconColor);
    right: 10px;
}