@import "../../../styles/Mixins.scss";
@import "../../../styles/Variables.scss";

.inputWrap {
    min-width: 300px; 
    width: 35.0417vw;  
    position: relative;
    input {
        width: 100%;
        height: 100%;
        border: none;
        box-sizing: border-box;
        background: $inputColor;
        color: $textColor;
        &::placeholder {
            color: $inputTextColor;
            transition: .5s;
        }
        &:focus {
            outline: 1px solid $inputTextColor;
        }
        &:hover::placeholder {
            color: $textColor;
            transition: .5s;
        }
        &:focus::placeholder {
            color: $inputTextColor;
        }
    }
    div {
        position: absolute;
        width: 0%;
        min-width: 20px;
    }
}

.inputWrap.shortened {
    width: 22.396vw;  
    min-width: 140px; 
}

.search {
    @include svgIconStyles(1.3021vw, 20px, $darkIconColor);
}

@media screen and (max-width: 7680px){
    .inputWrap {
        input {
            padding: 0.52vw;
            border-radius: 0.26vw;
            font-size: calc(14px + (64 - 14) * ( (100vw - 1920px) / (7680 - 1920) ));
            &::placeholder {
                margin-top: 0.73vw;
                font-size: calc(14px + (64 - 14) * ( (100vw - 1920px) / (7680 - 1920) ));
            }
        }
        div {
            right: 1.22vw;
            top: 0.36vw;
        }
    }
}

@media screen and (max-width: 1920px){
    .inputWrap {
        input {
            padding: calc(7px + (10 - 7) * ( (100vw - 200px) / ( 1920 - 200) ));
            border-radius: 5px;
            font-size: calc(10px + (14 - 10) * ( (100vw - 200px) / ( 1920 - 200) ));
            &::placeholder {
                margin-top: calc(10px + (14 - 10) * ( (100vw - 200px) / ( 1920 - 200) ));
                font-size: calc(10px + (14 - 10) * ( (100vw - 200px) / ( 1920 - 200) ));
            }
        }
        div {
            right: calc(3px + (10 - 3) * ( (100vw - 200px) / ( 1920 - 200) ));
            top: calc(2px + (7 - 2) * ( (100vw - 200px) / ( 1920 - 200) ));
        }
    }
}

@media screen and (max-width: 1440px) {
    .inputWrap.shortened {
        width: calc(200px + (340 - 200) * ( (100vw - 1024px) / ( 1440 - 1024) )); 
    }
}