@import "../../styles/Mixins.scss";
@import "../../styles/Variables.scss";

.notificationsWrap {
    @include scrollStyles(0.25em);
    width: 25vw;
    height: 15vw;
    border-radius: 5px;
    background: rgb(196, 215, 235);
    position: relative;
    position: absolute;
    top: 2%;
    right: 5%;
    display: flex;
    flex-direction: column;
    padding: 1.5vw 1.25vw 1vw;
    box-sizing: border-box;
    z-index: 9998;
    display: none;
}

.notificationsClose {
    transform: rotate(45deg);
    position: absolute;
    top: 1.35%;
    box-sizing: border-box;
    right: 1%;
    width: 1.3021vw;
    height: 1.3021vw;
    border-radius: 50%;
}

.notificationsCloseIcon {
    @include svgIconStyles(1.3021vw, 20px, $darkIconColor);
    fill: black;
}

.notificationsWrap.on {
    display: block;
}