@import "../../styles/Mixins.scss";
@import "../../styles/Variables.scss";

.notificationsWrap {
    @include darkScrollStyles(0.45em);
    width: 31.25vw;
    min-width: 350px;
    background: $firstLayerColor;
    box-shadow: 0px 4px 4px rgba(13, 13, 13, 0.4);
    position: relative;
    position: absolute;
    top: 2%;
    right: 5%;
    display: flex;
    flex-direction: column;
    padding: 0.5vw 1.25vw 1vw 1.25vw;
    box-sizing: border-box;
    z-index: 9998;
    display: none;
    max-height: 50vh;
    overflow-y: scroll;
}

.notificationsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        @include fontStyles($textColor);
    }
}

.notificationsClose {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    div {
        transform: rotate(180deg);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    p {
        transition: .5s;
    }
    &:hover p{
        color: white;
        transition: .5s;
    }
}

.notificationsClose:hover .notificationsCloseIcon{
    fill: white;
    transition: .1s;
}

.notificationsCloseIcon {
    @include svgIconStyles(1.3vw, 20px, $darkIconColor);
    transition: .5s;
}

.notificationsWrap.on {
    display: block;
}

@media screen and (max-width: 7680px){
    .notificationsWrap {
        border-radius: 0.52vw;
    }
    
    .notificationsHeader p {
        margin: 0.52vw 0 0.78vw 0.26vw;
        margin-top: 0.52vw;
        font-size: calc(22px + (74 - 22) * ( (100vw - 1920px) / (7680 - 1920) ));
    }
    
    .notificationsClose p {
        margin: 0 0.42vw 0 0;
        font-size: calc(16px + (66 - 16) * ( (100vw - 1920px) / (7680 - 1920) ));
    }
}

@media screen and (max-width: 1920px){
    .notificationsWrap {
        border-radius: 10px;
    }
    
    .notificationsHeader p {
        margin: 
            calc(5px + (10 - 5) * (100vw - 300px) / (1920 - 300))
            0 
            calc(5px + (15 - 5) * (100vw - 300px) / (1920 - 300)) 
            5px;
        margin-top: 10px;
        font-size: calc(14px + (22 - 14) * (100vw - 768px) / (1920 - 768));
    }
    
    .notificationsClose p {
        margin: 0 8px 0 0;
        font-size: calc(12px + (16 - 12) * (100vw - 768px) / (1920 - 768));
    }
}

@media screen and (max-width: 768px) {
    .notificationsHeader p {
        font-size: 18px;
    }
    .notificationsWrap {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        min-width: 100%;
        top: 0;
        right: 0;
        max-height: 100%;
        border-radius: 0px;
    }
    .notificationsClose {
        display: none;
    }
}