@import "../../styles/Mixins.scss";
@import "../../styles/Variables.scss";

.homePageContentHello {
    margin-top: calc(10px + (30 - 10) * (100vw - 200px) / (1920 - 200));
    background: linear-gradient(114.13deg, rgba(255, 255, 255, 0.4) 2.55%, rgba(255, 255, 255, 0.1) 97.6%);
    border-radius: 5px;
    width: 55.729vw;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    @include fontStyles($textColor);
    font-size: calc(14px + (22 - 14) * (100vw - 200px) / (1920 - 200));
    text-align: center;
}

.logo {
    width: 6.771vw;
    height: 6.771vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
    margin-top: calc(15px + (40 - 15) * (100vw - 200px) / (1920 - 200));
} 

.logoIcon {
    fill: $darkIconColor;
    width: 12.771vw;
    height: 12.771vw;
    min-width: 80px;
    min-height: 80px;
}

.findFriends, .findGroups {
    display: flex;
    align-items: center;
    width: 46.875vw;
    margin-top: calc(20px + (60 - 20) * (100vw - 200px) / (1920 - 200));
    div {
        border-radius: 50%;
        min-width: calc(40px + (110 - 40) * (100vw - 300px) / (1920 - 300));
        min-height: calc(40px + (110 - 40) * (100vw - 300px) / (1920 - 300));
        max-width: calc(40px + (110 - 40) * (100vw - 300px) / (1920 - 300));
        max-height: calc(40px + (110 - 40) * (100vw - 300px) / (1920 - 300));
    }
    p {
        @include fontStyles($textColor);
        font-size: calc(10px + (18 - 10) * (100vw - 200px) / (1920 - 200));
        margin-left: calc(10px + (20 - 10) * (100vw - 200px) / (1920 - 200));
        margin-right: 1vw;
        text-align: center;
    }
    button {
        padding: calc(6px + (12 - 6) * (100vw - 200px) / (1920 - 200));
        width: 14.021vw;
        min-width: 200px;
        margin-left: auto;
        @include fontStyles($textColor);
        font-size: calc(10px + (16 - 10) * (100vw - 200px) / (1920 - 200));
        background: linear-gradient(94.68deg, rgba(255, 255, 255, 0.4) 8.73%, rgba(255, 255, 255, 0.1) 92.13%);
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
}

.findGroups {
    margin-bottom: calc(30px + (80 - 30) * (100vw - 200px) / (1920 - 200));
}

.findFriends div, .findGroups div{
    @include roundedImageStyles();
}

@media screen and(max-width: 1023px) {
    .findFriends, .findGroups {
        display: flex;
        flex-direction: column;
        button {
            margin: 0;
        }
    }
}

@media screen and(max-width: 768px) {
    .homePageContentHello {
        width: 91vw;
    }
    .findFriends, .findGroups {
        width: 70%;
    }
}

@media screen and(max-width: 500px) {
    .findFriends, .findGroups {
        width: 80%;
    }
}