@import "../../styles/Mixins.scss";
@import "../../styles/Variables.scss";

.friendsWrap {
    margin-top: 1.0417vw;
    height: 100vh;
    position: relative;
    width: 55.7292vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
}

.friendsFinderSearch {
    @include svgIconStyles(1.3021vw, 20px, $darkIconColor);
}

@media screen and (max-width: 768px) {
    .friendsWrap {
        width: 97vw;
    }
}
