@import "../../styles/Mixins.scss";
@import "../../styles/Variables.scss";

.extended {
    width: 100%;
    position: relative;
}

.regular {
    position: relative;
    width: 34.8958vw;
}

.addPostWrap, .addPostWrapExtended {
    width: 100%;
    display: flex;
    align-items: center;   
    flex-direction: column;
    margin-top: calc(5px + (15 - 5) * ( (100vw - 200px) / ( 1920 - 200) ));
    div {
        input {
            width: 100%;
            height: 100%;
            border: none;
            padding: 
                    calc(9px + (15 - 9) * ( (100vw - 200px) / ( 1920 - 200) ))
                    calc(65px + (90 - 65) * ( (100vw - 200px) / ( 1920 - 200) ))
                    calc(9px + (15 - 9) * ( (100vw - 200px) / ( 1920 - 200) ))
                    calc(10px + (20 - 10) * ( (100vw - 200px) / ( 1920 - 200) ));
            box-sizing: border-box;
            background: $firstLayerColor;
            color: $textColor;
            border-radius: 5px;
            &:focus {
                outline: 1px solid $inputTextColor;
            }
            &:hover::placeholder {
                color: $textColor;
                transition: .5s;
            }
            &:focus::placeholder {
                color: $inputTextColor;
            }
        }
        input::placeholder {
            color: $inputTextColor;
            font-size: calc(10px + (14 - 10) * ( (100vw - 200px) / ( 1920 - 200) ));
            transition: .5s;
        }
        div {           
            min-width: 18px;
            max-width: 25px;
            position: absolute;
            box-sizing: border-box;
            display: flex;
            top: calc(4px + (7 - 4) * ( (100vw - 200px) / ( 1920 - 200) ));
            &:nth-child(1) {
                right: 35px;
                position: relative;
            }
            &:nth-child(2) {
                right: 5px;
            }
            &:nth-child(3) {
                display: none;
                height: 100%;
                width: 2%;
            }
        }
    }
}

.addPostWrap {
    margin-top: calc(5px + (12 - 5) * ( (100vw - 200px) / ( 1920 - 200) ));
    margin-bottom: calc(5px + (12 - 5) * ( (100vw - 200px) / ( 1920 - 200) ));
    div input {
        background: $inputColor;
        border: 1px solid #2A2A2A;
    }
}

.addPostClip, .addPostSend {
    @include svgIconStyles(1.3021vw, 18px, $darkIconColor);
    transition: 0.1s;
}

.addPostSendWrap:hover .addPostSend, .addPostClipWrap:hover .addPostClip {
    transition: 0.1s;
    fill: white;
} 

.fileUploadInput {
    padding: 0 !important;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}

.error {
    background: rgba(207, 58, 58, 0.4) !important;
}

.imagePreview {
    position: relative;
    max-width: 70%;
    height: 10.417vw;
    min-width: 75px;
    min-height: 75px;
    margin-top: 10px;   
    @include imageStyles();
    background: $secondLayerColor;
    border: 1px solid $thirdLayerColor;
    border-radius: 5px;
}

.closePreview {
    transform: rotate(45deg);
    position: absolute;
    top: 0; 
    right: -40px;
}

.close {
    @include svgIconStyles(1.7vw, 18px, $darkIconColor);
}

@media screen and (max-width: 768px) {
    .addPostWrap {
        position: absolute;
    }
    .addPostWrapExtended, .addPostWrap {
        width: 97vw;
        div {
            width: 100%;
        }
    }
    .imagePreview {
        display: none;
    }
    .addPostWrap, .addPostWrapExtended {
        div {
            div {
                &:nth-child(1) {
                    position: relative;
                }
                &:nth-child(2) {
                    right: 5px;
                }
                &:nth-child(3) {
                    right: 70px;
                    display: block;
                    @include imageStyles();
                }
            }
        }
    }
}