@import "../../styles/Mixins.scss";
@import "../../styles/Variables.scss";

.postWrap {
    width: 55.7292vw;
   position: relative;
    margin-top: calc(5px + (15 - 5) * (100vw - 200px) / (1920 - 200));
    display: flex;
    flex-direction: column;
    background: $firstLayerColor;
    border-radius: 3px;
}

.postHeader {
    display: flex;
    width: 100%;
    align-self: flex-start;
    justify-content: space-between;
}

.postInfoWrap {
    display: flex;
    align-items: center;
    margin-left: 9.4%;
}

.postImage {
    @include roundedImageStyles();
    margin-top: 1.3021vw;
    width: 4.1667vw;
    height: 4.1667vw;
    min-width: 45px;
    min-height: 45px;
    border-radius: 50%;
    cursor: pointer;
    background: #000000;
}

.postInfo {
    margin-left: 1.0417vw;
    margin-top: 1.0417vw;
    p {
        margin: 0;
        padding: 0;
    }
}

.postGroupName {
    @include fontStyles($textColor);
    font-size: calc(12px + (18 - 12) * (100vw - 200px) / (1920 - 200));
    line-height: 17px;
    cursor: pointer;
}

.postPublicationDate {
    @include fontStyles($textColor);
    font-size: calc(10px + (14 - 10) * (100vw - 200px) / (1920 - 200));
    line-height: 17px;
    margin-top: 3px;
}

.postButtons {
    display: flex;
    align-self: flex-end;
    margin-right: 9.4%;
}

.postButton {
    margin-left: 1.0417vw;
} 

.postReport, .postDislike, .postMore, .postDelete {
    @include svgIconStyles(1.5625vw, 20px, $darkIconColor);
}

.postMore {
    display: none;
}

.postBody {
    display: flex;
    width: 81.308%;
    background-clip: border-box;
    margin-top: calc(8px + (20 - 8) * (100vw - 200px) / (1920 - 200));
    align-self: center;
    flex-direction: column;
    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
    p {
        @include fontStyles($textColor);
        font-size: calc(10px + (16 - 10) * ( (100vw - 200px) / ( 1920 - 200) ));
        margin: 0 0 0 5px;
    }
}

.postFooter {
    width: 81.308%;
    margin-top: calc(10px + (20 - 10) * (100vw - 200px) / (1920 - 200));
    margin-bottom: calc(10px + (20 - 10) * (100vw - 200px) / (1920 - 200));
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.postFooterActions {
    width: 14.5833vw;
    min-width: 180px;
    padding: 0.5208vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: $secondLayerColor;
    border-radius: 5px;
}

.postViews {
    width: 5.2083vw;
    min-width: 70px;
    padding: calc(5px - (10 - 5) * (100vw - 200px) / (1920 - 200));
    box-sizing: border-box;
    background: $secondLayerColor;
    box-shadow: 0px 4px 4px rgba(13, 13, 13, 0.2);
    border-radius: 5px;
}

.postMostLikedComment {
    background: lightgray;
    box-sizing: border-box;
    width: 28.125vw;
    background: $secondLayerColor;
    box-shadow: 0px 4px 4px rgba(13, 13, 13, 0.2);
    border-radius: 5px;
}

.postLikes, .postComments, .postShares, .postViews {
    display: flex;
    align-items: center;
    div {
        display: flex;
        align-items: center;
    }
    p {
        @include fontStyles($textColor);
        font-size: calc(10px + (12 - 10) * (100vw - 200px) / (1920 - 200));
        line-height: 12px;
        margin: 0;
        padding: 0;
        margin-left: 5px;
    }
}

.postLike, .postComment, .postShare, .postView {
    @include svgIconStyles(1.5625vw, 25px, $lightIconColor);   
}

.postLike, .postComment, .postShare, .postReport, .postDislike, .postMore, .postDelete {
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.postLikes:hover .postLike{
    fill: red; 
    transition: 0.1s;
}

.postLike.liked{
    fill: red; 
}

.postComments div:hover .postComment,  
.postButtonReport:hover .postReport, 
.postButtonDislike:hover .postDislike, 
.postButtonMore:hover .postMore
.postButtonDelete:hover .postDelete{
    fill: white; 
    transition: 0.1s;
}

.postViews {
    justify-content: center;
}

.postMostLikedComment {
    position: relative;
    display: flex;
    align-items: center;
}

.commentLine {
    width: 81.308%;
    height: calc(1px + (2 - 1) * (100vw - 200px) / (1920 - 200));
    background: #434343;
}

.allPostComments {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.allPostComments.off {
    display: none;
}

.hiddenPostOptions {
    position: absolute;
    top: calc(20px + (30 - 20) * (100vw - 200px) / (768 - 200));
    right: calc(-5px + (-70 - -90) * (100vw - 200px) / (768 - 200));
    a {
        background: rgba(196, 215, 235, 0.75);
        display: block;
        padding: 5px 10px;
        border-radius: 5px;
        @include fontStyles($textColor);
        font-size: calc(10px + (16 - 10) * (100vw - 200px) / (1920 - 200));
        width: 80px;
    }
}

.postViews {
    display: none;
}

.postDeleteLoading, .postDeleteError {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #000000;
    opacity: 0.3;
    position: absolute;
    z-index: 99;
}

.postDeleteError {
    flex-direction: column;
    p {
        @include fontStyles($textColor);
        font-size: calc(10px + (16 - 10) * (100vw - 300px) / (1440 - 300));
    }
    a {
        @include fontStyles($textColor);
        font-size: calc(12px + (18 - 12) * (100vw - 300px) / (1440 - 300));
        text-decoration: underline;
        display: block;
        margin-top: 10px;
    }
}

.postInfoLoader {
    margin-left: 1.0417vw;
    margin-top: 1.0417vw;
    width: calc(140px + (210 - 140) * (100vw - 300px) / (1440 - 300));
    height: calc(20px + (40 - 20) * (100vw - 300px) / (1440 - 300));
    border-radius: 5px;
}

.emptyBestComment {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include fontStyles($textColor);
    text-align: center;
    font-size: calc(8px + (16 - 8) * (100vw - 1024px) / (1920 - 1024));
}

@media screen and (max-width: 1440px) {
    .postMostLikedComment {
        width: calc(250px + (405 - 250) * (100vw - 1024px) / (1440 - 1024));
    }
}

@media screen and (max-width: 1023px) {
    .postMostLikedComment {
        display: none;
    }
    .postViews {
        display: flex;
    }
    .postShares {
        display: none;
    }
    .postFooterActions {
        min-width: 150px;
    }
}

@media screen and (max-width: 768px) {
    .commentLine {
        width: 93%;
    }
    .postReport, .postDislike {
        display: none;
    }
    .postMore {
        display: block;
    }
    .postInfoWrap {
        margin-left: 8px;
    }
    .postWrap {
        width: 97vw;
    }
    .postInfo {
        margin-top: 2vw;
    }
    .postButtons {
        align-self: flex-start;
        margin-top: 2%;
        margin-right: 2%;
    }
    .postBody {
        width: 100%;
        p {
            margin: 0 14px;
        }
    }
    .postFooter {
        width: 100%;
        justify-content: space-between;
        padding: 0 10px;
        box-sizing: border-box;
    }
}
