@import "../../styles/Mixins.scss";
@import "../../styles/Variables.scss";

.postWrap {
    width: 55.7292vw;
    background: gray;
    margin-top: calc(5px + (20 - 5) * (100vw - 200px) / (1920 - 200));
    display: flex;
    flex-direction: column;
    background: linear-gradient(111.93deg, rgba(255, 255, 255, 0.4) 4.6%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0.1) 96.42%);
    backdrop-filter: blur(40px);
    border-radius: 3px;
}

.postHeader {
    display: flex;
    width: 100%;
    align-self: flex-start;
    justify-content: space-between;
}

.postInfoWrap {
    display: flex;
    align-items: center;
}

.postImage {
    @include roundedImageStyles();
    margin: 1.3021vw 0 0 1.3021vw;
    width: 4.1667vw;
    height: 4.1667vw;
    min-width: 45px;
    min-height: 45px;
    border-radius: 50%;
    cursor: pointer;
    background: #000000;
}

.postInfo {
    margin-left: 1.0417vw;
    margin-top: 1.0417vw;
    p {
        margin: 0;
        padding: 0;
    }
}

.postGroupName {
    @include fontStyles($textColor);
    font-size: calc(12px + (18 - 12) * (100vw - 200px) / (1920 - 200));
    line-height: 17px;
    cursor: pointer;
}

.postPublicationDate {
    @include fontStyles($textColor);
    font-size: calc(10px + (14 - 10) * (100vw - 200px) / (1920 - 200));
    line-height: 17px;
    margin-top: 3px;
}

.postButtons {
    display: flex;
    align-self: flex-end;
    margin-right: 11%;
}

.postButton {
    margin-left: 1.0417vw;
} 

.postReport, .postDislike, .postMore {
    @include svgIconStyles(1.5625vw, 20px, $darkIconColor);
}

.postMore {
    display: none;
}

.postBody {
    display: flex;
    width: 74.767%;
    background-clip: border-box;
    margin-top: calc(8px + (20 - 8) * (100vw - 200px) / (1920 - 200));
    align-self: center;
    flex-direction: column;
    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
    p {
        @include fontStyles($textColor);
        font-size: calc(10px + (16 - 10) * ( (100vw - 200px) / ( 1920 - 200) ));
        margin-top: 0;
    }
}

.postFooter {
    margin-top: calc(12px + (30 - 12) * (100vw - 200px) / (1920 - 200));
    margin-bottom: calc(12px + (30 - 12) * (100vw - 200px) / (1920 - 200));
    display: flex;
    align-self: center;
}

.postFooterActions {
    background: lightgray;
    width: 14.5833vw;
    min-width: 180px;
    padding: 0.5208vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(92.12deg, rgba(255, 255, 255, 0.4) -5.5%, rgba(255, 255, 255, 0.1) 114.11%);
    border-radius: 5px;
}

.postViews {
    background: lightgray;
    width: 5.2083vw;
    min-width: 70px;
    padding: calc(5px - (10 - 5) * (100vw - 200px) / (1920 - 200));
    box-sizing: border-box;
    margin: 0 1.3021vw;
    background: linear-gradient(92.12deg, rgba(255, 255, 255, 0.4) -5.5%, rgba(255, 255, 255, 0.1) 114.11%);
    border-radius: 5px;
}

.postMostLikedComment {
    background: lightgray;
    box-sizing: border-box;
    width: 25vw;
    background: linear-gradient(92.12deg, rgba(255, 255, 255, 0.4) -5.5%, rgba(255, 255, 255, 0.1) 114.11%);
    border-radius: 5px;
}

.postLikes, .postComments, .postShares, .postViews {
    display: flex;
    align-items: center;
    div {
        display: flex;
        align-items: center;
    }
    p {
        @include fontStyles($textColor);
        font-size: calc(10px + (12 - 10) * (100vw - 200px) / (1920 - 200));
        line-height: 12px;
        margin: 0;
        padding: 0;
        margin-left: 5px;
    }
}

.postLike, .postComment, .postShare, .postView {
    @include svgIconStyles(1.5625vw, 25px, $lightIconColor);   
    transition: 0.05s ease-in-out;
}

.postLike, .postComment, .postShare, .postReport, .postDislike, .postMore {
    cursor: pointer;
}

.postLike:hover {
    fill: red; 
}

.postLike.liked{
    fill: red; 
}

.postViews {
    justify-content: center;
}

.postMostLikedComment {
    position: relative;
    display: flex;
    align-items: center;
}

.commentLine {
    width: 94.3925%;
    height: 2px;
    background: linear-gradient(rgba(176, 219, 252, 1), rgba(176, 219, 252, 0.5));
}

.allPostComments {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.allPostComments.off {
    display: none;
}

.hiddenPostOptions {
    position: absolute;
    top: calc(20px + (30 - 20) * (100vw - 200px) / (768 - 200));
    right: calc(-5px + (-70 - -90) * (100vw - 200px) / (768 - 200));
    a {
        background: rgba(196, 215, 235, 0.75);
        display: block;
        padding: 5px 10px;
        border-radius: 5px;
        @include fontStyles($textColor);
        font-size: calc(10px + (16 - 10) * (100vw - 200px) / (1920 - 200));
        width: 80px;
    }
}

@media screen and (max-width: 1023px) {
    .postMostLikedComment {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .postReport, .postDislike {
        display: none;
    }
    .postMore {
        display: block;
    }
    .postWrap {
        width: 97vw;
    }
    .postInfo {
        margin-top: 2vw;
    }
    .postButtons {
        align-self: flex-start;
        margin-top: 2%;
        margin-right: 2%;
    }
    .postBody {
        width: 100%;
        p {
            margin: 0 7px;
        }
    }
    .postFooter {
        width: 100%;
        justify-content: space-between;
        padding: 0 10px;
        box-sizing: border-box;
    }
}
