@import "../../styles/Mixins.scss";
@import "../../styles/Variables.scss";

.accountPageWrap {
    @include scrollStyles(0.45em);
    z-index: 3;
    width: 92.5vw;
    height: 100vh;
    position: relative;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panoramaImage {
    @include imageStyles();
    position: relative;
    width: 55.7292vw;
    min-height: 7.8125vw;
    height: 7.8125vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background: $thirdLayerColor;
    cursor: pointer;
    div {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;
    }
}

.accountMore {
    @include svgIconStyles(1.5625vw, 20px, $darkIconColor);
}

.accountPage {
    width: 55.7292vw;
    background: $firstLayerColor;
}

.userInfo {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    p {
        margin-left: 30.8411%; 
    }
}

.userImageHolder {
    position: absolute;
    top: -6.7708vw;
    left: 2.267vw;
    width: 13.5417vw;
    height: 13.5417vw;
    min-width: 90px;
    min-height: 90px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    align-items: center;
    transition: .5s;
    justify-content: center;
    z-index: 996;
}

.userImageHolder:hover {
    transition: .5s;
}


.userImage {
    @include roundedImageStyles();
    width: 13.0208vw;
    height: 13.0208vw;
    min-width: 82px;
    min-height: 82px;
    object-fit: contain;
    border-radius: 50%;
    background: transparent;
    background: $thirdLayerColor;   
    cursor: pointer;
}

.userName, .userStatus {
    @include fontStyles($textColor);
    max-width: 45%;
    margin: 0;
    padding: 0;
}

.userName {
    padding-top: 0.7813vw;
}
.userName.skeleton {
    display: block;
}

.userStatus.skeleton {
    display: block;
}

.userEditStatus {
    margin-top: 1.7708vw;
    border: none;
    margin-left: 30.8411%; 
    box-sizing: border-box;
}

.userDateBirth, .userCity {
    @include fontStyles($textColor);
    margin: 0;
    padding: 0;
}

.userDateBirth {
    margin-top: 0.8854vw;
}

.userDateBirth.skeleton {
    display: block;
}

.userCity {
    margin-top: 0.4688vw;
    margin-bottom: 2.7083vw;
}

.moreButton {
    position: absolute;
    left: 50%;
    bottom: -2vw;
    transform: rotate(90deg);
}

.moreButtonAngle {
    @include svgIconStyles(2.0833vw, 20px, $darkIconColor);
}

.userAddInFriends {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0; 
    margin: 0.5208vw 0.5208vw 0 0;
    min-width: 110px;
    padding: 0.1vw 0;
    background: $secondLayerColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $textColor;
    padding-left: 0.7813vw;
    white-space: nowrap;
    transition: .5s;
    &:hover {
        background: $thirdLayerColor;
        transition: .5s;
    }
}

.userAdditionalOptions {
    background: $firstLayerColor; 
    box-sizing: border-box;
    transition: 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userAdditionalOptions:hover .accountMore {
    fill: white;
    transition: 0.1s;
}

.userOptionsWrap:hover .userOptions {
    stroke: white;
    transition: 0.1s;
}

.userAddInFriendsPlus {
    @include svgIconStyles(1.3021vw, 14px, $darkIconColor);
}

.hiddenUserAddInFriends {
    display: none;
    position: absolute;
    right: calc(4px + (8 - 4) * (100vw - 200px) / (768 - 200));
    top: calc(4px + (8 - 4) * (100vw - 200px) / (768 - 200)); 
}

.hiddenUserAddInFriendsPlus {
    @include svgIconStyles(1.3021vw, 18px, $darkIconColor);
}

.userOptionsWrap {
    position: absolute;
    cursor: pointer;
}
.userOptions {
    transition: 0.1s;
    @include svgIconStylesStroke(1.7021vw, 18px, $darkIconColor)
}

.postFinderSearch {
    @include svgIconStyles(1.3021vw, 18px, $darkIconColor);
}

.postOptions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}       

.editablePart {
    position: relative;
    input {
        border: none;
        background: rgba(217, 217, 217, 0.3);
        color: $textColor;
        &:focus {
            outline: none;
        }
    }
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.editStatus {
    white-space: nowrap;
    color: $textColor;
    margin: 0;
    padding: 0;
    display: none;
    margin-right: 1vw;
    position: absolute;
}

.editStatus.on {
    display: block;
}

.lastElement {
    width: 50px;
    min-height: 50px;
    visibility: hidden;
}

.userEditStatus.error {
    background: rgba(207, 58, 58, 0.4);
}

.hiddenOptions {
    display: none;
    a {
        display: block;
        background: $firstLayerColor;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        @include fontStyles($textColor);
        text-decoration: none;
        transition: 0.5s;
        &:first-child {
            margin-top: 0;  
        }
        &:hover {
            background: $secondLayerColor;
            transition: 0.5s;
        }
    }
}

.hiddenOptions.visible {
    display: block;
}

@media screen and (max-width: 7680px){
    .accountPageWrap {
        padding-top: 0.78vw;
    }
    
    .panoramaImage {
        border-radius: 0.26vw 0.26vw 0px 0px;
        div {
            &:last-child {
                top: 1.56vw;
            }
        }
    }

    .accountPage {
        border-radius: 0px 0px 0.26vw 0.26vw;
    }
    
    .userImageHolder {
        border: 0.16vw solid $lightIconColor;
    }
    
    .userImageHolder:hover {
        border: 0.18vw solid white;
    }

    .userName {
        font-size: calc(22px + (76 - 22) * ( (100vw - 1920px) / (7680 - 1920) ));
    }
    .userName.skeleton {
        width: 17.71vw;
        height: 1.56vw;
    }
    
    .userStatus {
        margin-top: 1.56vw;
        font-size: calc(18px + (70 - 18) * ( (100vw - 1920px) / (7680 - 1920) ));
    }
    
    .userStatus.skeleton {
        width: 23.96vw;
        height: 1.3vw;
        margin-top: -0.13vw;
    }
    
    .userEditStatus {
        width: 15.63vw;
        height: 1.56vw;
    }
    
    .userDateBirth, .userCity {
        font-size: calc(16px + (66 - 16) * ( (100vw - 1920px) / (7680 - 1920) ));
    }
    
    .userDateBirth.skeleton {
        width: 16.67vw;
        height: 1.82vw;
        margin-bottom: 0.52vw;
        margin-top: -0.26vw;
    }
    
    .userAddInFriends {
        width: 10.94vw;
        border-radius: 0.16vw;
        font-size: calc(16px + (66 - 16) * ( (100vw - 1920px) / (7680 - 1920) ));
        div {
            margin-top: 0.26vw;
        }
    }
    
    .userAdditionalOptions {
        border-radius: 0 0 0 0.16vw;
        padding: 0 0.52vw;
    }
    
    .userAddInFriendsPlus {
        margin-right: 0.26vw;
    }
    
    .userOptionsWrap {
        right: 0.26vw;
        top: 0.26vw; 
    }
    
    .addPostSend {
        margin-left: 0.26vw;
    }      
    
    .editablePart input {
        margin-top: 0.52vw;
        &:focus {
            border-radius: 0.16vw;
        }
    }
    
    .editStatus {
        font-size: calc(14px + (64 - 14) * ( (100vw - 1920px) / (7680 - 1920) ));
        top: -1.46vw;
        right: 0.52vw;
    }
    
    .editStatus  {
        margin-top: 1.56vw;
    }
    
    .editStatus.on.editing {
        top: -0.94vw;
    }
    
    .hiddenOptions {
        padding: 0.16vw;
        a {
            border-radius: 0.16vw;
            padding: 0.26vw 0.52vw;
            font-size: calc(16px + (66 - 16) * ( (100vw - 1920px) / (7680 - 1920) ));
            margin-top: 0.16vw;
        }
    }
    
    .addPostWrap {
        margin-bottom: 0.78vw;
    }
}

@media screen and (max-width: 1920px){
    .accountPageWrap {
        padding-top: calc(5px + (15 - 5) * ( (100vw - 200px) / ( 1920 - 200) ));
    }
    
    .panoramaImage {
        border-radius: 5px 5px 0px 0px;
        div {
            &:last-child {
                top: calc(10px + (30 - 10) * (100vw - 200px) / (1920 - 200));
            }
        }
    }

    .accountPage {
        border-radius: 0px 0px 5px 5px;
    }
    
    .userImageHolder {
        border: calc(1.5px + (3 - 1.5) * (100vw - 200px) / (1920 - 200)) solid $lightIconColor;
    }
    
    .userImageHolder:hover {
        border: calc(2px + (3.5 - 2) * (100vw - 200px) / (1920 - 200)) solid white;
    }

    .userName {
        font-size: calc(12px + (22 - 12) * (100vw - 200px) / (1920 - 200));
    }
    .userName.skeleton {
        width: calc(160px + (340 - 160) * (100vw - 300px) / (1920 - 300));
        height: calc(15px + (30 - 15) * (100vw - 300px) / (1920 - 300));
    }
    
    .userStatus {
        margin-top: calc(5px + (30 - 5) * (100vw - 900px) / (1920 - 900));
        font-size: calc(8px + (18 - 8) * (100vw - 200px) / (1920 - 200));
    }
    
    .userStatus.skeleton {
        width: calc(190px + (460 - 190) * (100vw - 300px) / (1920 - 300));
        height: calc(15px + (25 - 15) * (100vw - 300px) / (1920 - 300));
        margin-top: -2.5px;
    }
    
    .userEditStatus {
        width: 300px;
        height: 30px;
    }
    
    .userDateBirth, .userCity {
        font-size: calc(8px + (16 - 8) * (100vw - 200px) / (1920 - 200));
    }
    
    .userDateBirth.skeleton {
        width: calc(130px + (320 - 130) * (100vw - 300px) / (1920 - 300));
        height: calc(20px + (35 - 20) * (100vw - 300px) / (1920 - 300));
        margin-bottom: calc(5px + (10 - 5) * (100vw - 300px) / (1920 - 300));
        margin-top: -5px;
    }
    
    .userAddInFriends {
        width: calc(110px + (210 - 110) * (100vw - 500px) / (1920 - 500));
        border-radius: 3px;
        font-size: calc(8px + (16 - 8) * (100vw - 200px) / (1920 - 200));
        div {
            margin-top: 5px;
        }
    }
    
    .userAdditionalOptions {
        border-radius: 0 0 0 3px;
        padding: 0 10px;
    }
    
    .userAddInFriendsPlus {
        margin-right: 5px;
    }
    
    .userOptionsWrap {
        right: 5px;
        top: 5px; 
    }
    
    .addPostSend {
        margin-left: 5px;
    }      
    
    .editablePart input {
        margin-top: 10px;
        &:focus {
            border-radius: 3px;
        }
    }
    
    .editStatus {
        font-size: calc(8px + (14 - 8) * (100vw - 200px) / (1920 - 200));
        top: -28px;
        right: 10px;
    }
    
    .editStatus  {
        margin-top: 30px;
    }
    
    .editStatus.on.editing {
        top: -18px;
    }
    
    .hiddenOptions {
        padding: 3px;
        a {
            border-radius: 3px;
            padding: 5px 10px;
            font-size: calc(10px + (16 - 10) * (100vw - 200px) / (1920 - 200));
            margin-top: 3px;
        }
    }
    
    .addPostWrap {
        margin-bottom: calc(5px + (15 - 5) * ( (100vw - 200px) / ( 1920 - 200) ));
    }
}

@media screen and (max-width: 1023px) {
    .panoramaImage {
        min-height: 80px;
    }
    .userPostsOptions div:first-child {
        flex-direction: row-reverse;
        min-width: 20px;
    }
    .postFinder input {
        display: none;
    }
    .postFinder div {
        width: 0;
    }
    .postFinder div div {
        position: static;
        margin-left: auto;
    }
    .postOptions button {
        &:last-child {
            margin-left: 5px;
        }
    }
    .userImageHolder {
        top: -50px;
    }
    .userName {
        margin-top: 10px;
    }
    .userStatus {
        margin-top: 12px
    }
}

@media screen and (max-width: 768px) {
    .userAddInFriends {
        display: none;
    }
    .hiddenUserAddInFriends {
        display: block;
    }
    .accountPageWrap {
        width: 100vw;
        margin-top: 0;
        height: calc(100vh - calc(60px + (70 - 60) * (100vw - 300px) / (768 - 300)));
        &::-webkit-scrollbar {
            width: 1px;
            height: 1px;
        }
    }
    .panoramaImage {
        width: 100%;
    }
    .accountPage {
        width: 97vw;
    } 
    .groupImageHolder {
        top: 38px;
    }
    .groupUsers, .userStats{
        display: none;
    }
    .userInfo p {
        margin-left: calc(90px + (140 - 90) * (100vw - 100px) / (768 - 100)); 
        &.userCity, &.userDateBirth {
            margin-left: 5.8411%; 
        }
    }
    .userPostsOptions {
        width: 97vw;
        margin-top: calc(43px + (50 - 43) * (100vw - 200px) / (768 - 200));
    }
    .userPostsOptions.marginless {
        margin-top: 5px;
    }
    .userDateBirth {
        margin-top: 12px;
    }
}