@import "../../styles/Mixins.scss";
@import "../../styles/Variables.scss";

.homePageWrap {
    z-index: 3;
    width: 92.5vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include scrollStyles(0.45em);
}

.homePage {
    width: 100%;
    height: 100%;
}

.homePageBody {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.sliderArrowLeft {
    top: 50%;
}

.sliderArrowRight {
    top: 50%;
}

.swiper {
    width: 55.729vw;
    min-width: 300px;
}

.mobileNavigation {
    display: none;
    a {
        color: $textColor;
        transition: 0.5s;
    }
}

.active {
    text-decoration: underline;
}

@media screen and (max-width: 7680px){
    .sliderArrowLeft {
        left: -3.13vw;
    }
    
    .sliderArrowRight {
        right: -3.13vw;
    }    
    
    .swiper {
        height: 41.67vw;
    }
    
    .mobileNavigation {
        padding: 0.78vw 0 0.78vw 0.26vw;
        a { 
            margin-left: 0.52vw;
        }
    }
}

@media screen and (max-width: 1920px){
    .sliderArrowLeft {
        left: calc(-20px + (-60 - -20) * (100vw - 200px) / (1920 - 200));
    }
    
    .sliderArrowRight {
        right: calc(-20px + (-60 - -20) * (100vw - 200px) / (1920 - 200));
    }  
    
    .swiper {
        height: calc(500px + (800 - 500) * (100vw - 1024px) / (1920 - 1024));
    }
    
    .mobileNavigation {
        padding: 15px 0 15px 5px;
        a {
            margin-left: 10px;
        }
    }
}

@media screen and (max-width: 768px) {
    .homePageBody {
        display: block;
    }
    .mobileNavigation {
        display: block;
    }
    .homePageWrap {
        background: $firstLayerColor;
        width: 100vw;
        height: calc(100vh - calc(53.69px + (56.28 - 53.69) * (100vw - 320px) / (768 - 320)));
        padding-top: 0;
        &::-webkit-scrollbar {
            width: 1px;
            height: 1px;
        }
    }
    .swiper {
        width: 100vw;
        height: calc(100vh - calc(53.69px + (56.28 - 53.69) * (100vw - 320px) / (768 - 320)));
    }
    .homePageHeader {
        width: 100vw;
    }  
    .sliderArrowRight, .sliderArrowLeft {
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .homePageHeader {
        button {
            display: none;
        }
    }
}