@import "../../../styles/Mixins.scss";
@import "../../../styles/Variables.scss";

.errorHolder {
    margin-top: 15px;
    width: 26.04vw;
    min-width: 300px;
    padding: 
        calc(30px + (60 - 30) * (100vw - 300px) / (1920 - 300))
        calc(10px + (20 - 10) * (100vw - 300px) / (1920 - 300));
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(13, 13, 13, 0.4);
    background: $firstLayerColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        text-align: center;
        @include fontStyles($textColor);
        font-size: calc(12px + (18 - 12) * (100vw - 300px) / (1920 - 300));
    }
}

.errorIcon {
    @include svgIconStylesStroke(14.23vw, 180px, $darkIconColor);
}